@use "sass:math";

// ****************************
// BREAKPOINTS
// ****************************
$site-scale: 1;
$scale-mode: width; // width, height, fit
// $scale-mode: fit; // width, height, fit

// height: 932px;
$design-mobile-width: 375;
$design-mobile-height: 812;
$design-desktop-width: 1440;
$design-desktop-height: 820;

$mobile-scale-min: math.div(320, $design-mobile-width);
$mobile-scale-max: math.div(767, $design-mobile-width);
$desktop-scale-min: math.div(768, $design-desktop-width);

$breakpoints: (
  mobile: (width: 320, design-width: $design-mobile-width, design-height: $design-mobile-height, scale-min: 0.5, scale-max: 1.0),
  desktop: (width: 768, design-width: $design-desktop-width, design-height: $design-desktop-height, scale-min: 0.5, scale-max: 1.2)
);



// ****************************
// GRID
// ****************************
$desktopGridWidth: 1440;
$desktopWidth: map-get(map-get(($breakpoints), desktop), design-width);
$desktopMaxScale: map-get(map-get(($breakpoints), desktop), scale-max);
$scrollbarWidth: 14px;

// ****************************
// Z-INDEXES
// ****************************
$z-popup: 100;
$z-menu: 200;
$z-tutorial: 300;
$z-preloader: 400;
$z-cursor: 500;
$z-rotation-message: 600;



// ****************************
// SIZE
// ****************************

// ****************************
// LAYOUT
// ****************************

$side-margin: 2.4rem;
$side-margin-mobile: 1.6rem;


// EXPORTS
// ****************************
:export {
  site_scale: $site-scale;
  scale_mode: $scale-mode;

  breakpoints: map-keys($breakpoints);

  @each $key,
  $val in $breakpoints {
    breakpoint_#{$key}_width: map-get(($val), width);
    breakpoint_#{$key}_design_width: map-get(($val), design-width);
    breakpoint_#{$key}_design_height: map-get(($val), design-height);
    breakpoint_#{$key}_scale_min: map-get(($val), scale-min);
    breakpoint_#{$key}_scale_max: map-get(($val), scale-max);
  }
}
